body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #ff4c68;
    color:white;
}

h1{
    
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
h2{
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
    font-size:2rem;
    color:#fff;
}
h3{
    font-size:1rem;
}
p{
    color:#8f8f8f;
    font-size:10px;
    padding-left:10px;
    padding-right:10px;
}
.container-fluid{
    padding:3% 15% 0% 15%;
}

.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight:bold;
    font-size:2rem;
   
   
}
 .nav-item{
    padding:0 18px;
}

.nav-link{
    font-size:1.2rem;
    font-weight:lighter;
}

.dbut{
    margin:5% 3% 5% 0;
}

.pimg{
    width:60%;
    transform:rotate(25deg);
  
    
}

#features{
    text-align:center;
    padding:15% 7%;
    background-color: aliceblue;
    position: relative;
    bottom:60px;
    z-index:1;
}

.fb{
    padding:5%;
   
}

.icon{
    color:#ef8172;
    margin-bottom:2rem;
}
.icon:hover{
    color:#ff4c68;
}

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color:#fff;
    position:relative;
    bottom:70px;

}

.tesimage{
    width:20%;
    border-radius:100%;
    margin:20px;
}

#press{
    padding-bottom:3%;
    background-color: #ef8172;
    text-align:center;
    position: relative;
    bottom: 70px;
  
}

.pressimg{
    width:15%;
    margin:20px 20px 50px;
}

.carousel-item{
    padding:7% 15%;
}

.cb{
    color:black;
}

#pricing{
    padding:100px;
    text-align:center;
    position: relative;
    bottom: 70px;
}

.pcol{
    padding:3% 5%;
}

.pb{
    font-size:15px;
}

@media (max-width:990px){
    .pimg{
        position:static;
        transform:rotate(0deg);
    }
    #title{
        text-align:center;
    }
}

#cta{
    background-color:#ff4c68;
    text-align: center;
    position: relative;
    bottom: 80px;
    padding-bottom:50px;
}

.ctatxt{
    font-size:1.5rem;
    padding: 5% 30% 1px;
    color:#fff;
}

.botbut{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
   
}

#footer{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
}

.ftxt{
    font-size:10px;
}

.ffa{
    color:black;
}